<div class="container">

  <div class="row">


<div class="col-sm-3">

<!--  <div class="btn-group-vertical">

  <button type="button" class="btn btn-primary" ng-click="addTheater()">Add Theater</button>
  <button type="button" class="btn btn-primary" ng-click="mapThaterMovie()">Map Movie With Theater</button>
</div>-->
<button type="button" class="btn btn-info" ng-click="addMovie()">Add Movie</button>
</div>
<div class="col-sm-3">
  <button type="button" class="btn btn-primary" ng-click="addTheater()">Add Theater</button>
</div>
<div class="col-sm-3">
  <button type="button" class="btn btn-primary" ng-click="mapThaterMovie()">Map Movie With Theater</button>
</div>


  </div>
</div>
